*
!Dockerfile
!pyproject.toml
!uv.lock
!candidate.py
!worker.py
!managed_proxy.py
!tests/
!tests/*.py
!tests/linux/
!tests/linux/*.py
!tests/linux/*.nft

!_assets/
!_assets/vmlinux.bin
!_assets/rootfs.ext4.zst
!tests/qemu/
!tests/qemu/*.py
